[user]
	email = nick123pig@gmail.com
	name = Nick Stocchero
[push]
	default = simple
	pushSign = if-asked
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[rebase]
    updateRefs = true
[diff "sqlite3"]
	binary = true
	textconv = "echo .dump | sqlite3"
[core]
	attributesfile = $HOME/.gitattributes
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[alias]
	fpush = "push --force-with-lease"

[includeIf "gitdir:~/projects/signed/"]
    path = ~/.gitconfig-signed
