# Ignore everything
*

# Except these
!.gitignore
!.gitconfig
!.zshrc
!.iterm2_profile
!.tmux.conf
!/.gnupg
!/.gnupg/gpg-agent.conf
!/.gnupg/*.pub
!/.tmux
!/.tmux/**
!.vimrc
!.vim
!.vim/bundle
!.vim/bundle/**
!.vim/colors
!.vim/colors/cobalt.vim
